body { 
 background-color: rgb(108, 211, 245); 
color: rgba(0, 0, 112, 0.267);
text-align: center;    
font-family: "courier";
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left: 
    border: 1px solid;
    margin: 0 auto;

 }